extends layout

block content
  header
    span.logo CO Adventures
    a.submitPost(ng-click="showForm()")
      span.plus + 
      span.submit Submit Post
    input.search(type="text" placeholder="Search" ng-model="search")
    a(ng-click='showSort()')
      div.sortby(for="sortby") Sort By {{w}} 
        i(class="fa fa-sort-desc")
    div.sortContainer(ng-show='showingSortOptions')
      div.sortOption(ng-click="sortByVotes()") Votes
      div.sortOption(ng-click="sortByDate()") Date
      div.sortOption(ng-click="sortByTitle()") Title
  main
    div.form(ng-show="showingForm")
      form.form(novalidate name="newPost")
        label.form(for='title') Title
        p
        input.form(ng-model="post.title" id="title" placeholder="Title" required)
        p
        label.form(for='author') Author
        p
        input.form(ng-model="post.author" id="author" placeholder="Author" required)
        p
        label.form(for="image") Image URL 
        p
        input.form(ng-model="post.image" id="image" placeholder="Image URL" required)
        p
        label.form(for="description") Description
        p
        input.form(ng-model="post.description" id="description" placeholder="Description" required)
        p
        input.submit(type="submit" ng-disabled="newPost.$invalid" ng-click='submitForm()' value="Submit Post")
    div.postRepeat(ng-repeat="post in posts | filter: search | orderBy: q")
      div.post(ng-class='{smaller: !showingComments, larger: showingComments}' ng-animate="{enter: 'animate-enter', leave: 'animate-leave'}")
        img.photo(ng-src="{{post.image}}")
        span(class="postHeader first")
          p(class="title postHeader first") {{post.title}}  
          p.postHeader  |  
          p.postHeader 
            a.upVote(ng-click="upVote(post)")
              i(class="fa fa-arrow-up") &nbsp;&nbsp;
            a.downVote(ng-click="downVote(post)")
              i(class="fa fa-arrow-down")
          p(class="postHeader last"  ng-class="{red: post.votes < 0, green: post.votes > 0}") {{post.votes}}
        p.author By {{post.author}}
        p.description {{post.description}}
        span(class="postFooter first")
          p(class="postFooter first")
            i(class="fa fa-calendar")
            |   {{post.date | amCalendar}}
          p.postFooter | 
          a.viewComments(ng-click="showComments()") 
            p.postFooter 
              i(class="fa fa-comment")
              |   {{post.comments.length}} 
            p.postFooter(ng-pluralize count="post.comments.length" when="{'1': ' comment', 'other': ' comments'}")
          p.postFooter |  
          a.addComment(ng-click="showAddComment()") 
            p.postFooter
              i(class="fa fa-pencil")
              |   Add Comment
        div(ng-repeat="comment in post.comments")
          div.comments(ng-show="showingComments")
            p.commentAuthor {{comment.author}}
            p.text - {{comment.text}}
        div.addCommentForm(ng-show="showingAddComment")
          form.commentForm(novalidate name="newComment")
            label.commentForm(for='commentAuthor') Author: 
            input.commentForm(id="commentAuthor" ng-model="comment.author" placeholder="Username")
            label.commentForm(for='commentAuthor') Text: 
            input(class="commentForm last" id="commentAuthor" ng-model="comment.text" placeholder="Comment Text")
            input.submit(type="submit" ng-click='submitComment(post)' value="Submit")
            
  footer
