extends layout

block content
  header
    span.logo Reddit Clone
    a.submitPost(ng-click="showForm()")
      span.plus + 
      span.submit Submit Post
    input.search(type="text" placeholder="Search" ng-model="search")
    label.sortby(for="sortby") Sort By
    select.drop(name="sortby" id="sortby" ng-model="q")
      option(name="sortby" value="votes") Votes
      option(name="sortby" value="date") Date
      option(name="sortby" value="title") Title
  main
    div.form(ng-hide="1 + 1 == {{form}}")
      form.form(novalidate)
        label.form(for='title') Title
        p
        input.form(ng-model="title" id="title" placeholder="Title" required)
        p
        label.form(for='author') Author
        p
        input.form(ng-model="author" id="author" placeholder="Author" required)
        p
        label.form(for="image") Image URL 
        p
        input.form(ng-model="image" id="image" placeholder="Image URL" required)
        p
        label.form(for="description") Description
        p
        input.form(ng-model="description" id="description" placeholder="Description" required)
        p
        input.form(type="submit" ng-click='submitForm(title, author, image, description)' value="Submit Post")
    div(ng-repeat="post in posts | filter: search")
      div.post
        img.photo(ng-src="{{post.image}}")
        p.title {{post.title}}  |  ^ v {{post.votes}}
        p.author By {{post.author}}
        p.description {{post.description}}
        span.postFooter
          p.postFooter {{post.date | date: "h:mm a"}}
          p.postFooter | 
          a.viewComments 
            p.postFooter [ ] {{post.comments.length}} 
            p.postFooter(ng-pluralize count="post.comments.length" when="{'1': ' comment', 'other': ' comments'}")
          p.postFooter |  
          a.addComment 
            p.postFooter Add Comment
    
  footer
